<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackhole1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,350}</string>
                <key>spriteSourceSize</key>
                <string>{396,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{396,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackhole2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,199}</string>
                <key>spriteSourceSize</key>
                <string>{174,199}</string>
                <key>textureRect</key>
                <string>{{252,353},{174,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackhole3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,244}</string>
                <key>spriteSourceSize</key>
                <string>{249,244}</string>
                <key>textureRect</key>
                <string>{{1,353},{249,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blackhole.png</string>
            <key>size</key>
            <string>{427,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33762c4ddd8c9d8088d149e91ed326c5:46e0ba346939ab7b492b4d9ad891a667:dee5787402cbee2bb61065f5eb514e5e$</string>
            <key>textureFileName</key>
            <string>blackhole.png</string>
        </dict>
    </dict>
</plist>
