<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,235}</string>
                <key>spriteSourceSize</key>
                <string>{183,235}</string>
                <key>textureRect</key>
                <string>{{1,323},{183,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,192}</string>
                <key>spriteSourceSize</key>
                <string>{226,192}</string>
                <key>textureRect</key>
                <string>{{186,323},{226,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,320}</string>
                <key>spriteSourceSize</key>
                <string>{389,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{389,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{391,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ca93f61e2006a923f1b54849ae0989:e6720e9994fee76840afd32064c46395:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
